@font-face {
    font-family: "Futura";
    src: url('/Users/kevinnguyen/Library/Fonts (Removed)/03-16-2023 13_28_58 PDT/FuturaPTBold.otf');
}  

body {
    margin: auto;
    padding: 50px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    background: rgb(7, 87, 241);
}

div {
    text-align: center;
}

header {
    padding: 0px;
    text-align: center;
    border-radius: 5px;
}

h1 {
    padding: 20px;
    font-size: 36px;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

h2, p {
    color: whitesmoke;
}

h3 {
    color: black;
    display: inline-block;
    padding: 0px;
}

li {
    color: slategray;
    padding: 5px;
    list-style-type: none;
}

img {
    width: 300px;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    color: rgb(7, 87, 241);
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.menu {
    margin: 25px;
    color: whitesmoke;
}

.sub_menu {
    margin: 25px;
    color: whitesmoke;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

object  {
    background-color: white;
}
